* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

.fa-location-dot {
    color: black;
}

.search-icon {
    padding: 0;
}

.search-input {
    flex: 1;
    border-left: none;
}

h1 {
    margin-bottom: 2.5px;
    text-align: left;
    font-size: 22px;
}

p {
    margin-top: 2.5px;
    margin-bottom: 20px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin-bottom: 20px;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    margin: auto;
}

header {
    width: 100%;
    max-width: 1340px;
    padding: 0 20px;
    box-sizing: border-box;
}

main {
    width: 100%;
    max-width: 1340px;
    padding: 0 20px;
    box-sizing: border-box;
}

footer {
    width: 100%;
    max-width: 1340px;
    padding: 0 20px;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.logo-et-liens {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.logo {
    width: 70px;
    height: auto;
    margin-top: 20px;
}

.lien-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 10px;
}

.lien-hebergement,
.lien-activite {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    padding-top: 0.1rem;
    padding-left: 0.1rem;
    transition: color 0.3s, border-top 0.3s;
    border-top: solid 0.2rem transparent;
    transform: translateY(-0.8rem);
}

.lien-hebergement:hover,
.lien-activite:hover {
    color: var(--main-color);
    border-top: solid 0.2rem var(--main-color);
    transform: translateY(-0.8rem);
    cursor: pointer;
}

.search-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}


.icon-container-recher {
    background-color: #f2f2f2;
    display: inline-block;
    padding: 10.5px;
    vertical-align: middle;
    margin-bottom: 10px;
    line-height: 1;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.taper-le-texte {
    background-color: transparent;
    color: gray;
    padding: 10px 10px;
    border-top: 1px solid #ebe9e9;
    border-bottom: 1px solid #ebe9e9;
    border-left: none;
    border-right: none;
    margin-bottom: 10px;
}

.blue-button {
    background-color: #0065FC;
    color: white;
    padding: 11px 20px;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: -20px solid #ccc;
    border: none;
    margin-bottom: 10px;
}

.bouton-version-mobile {
    display: none;
}

.filter-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.title-filter {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: bold;
}

.white-button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: 30px;
    font-weight: bold;
}

.white-button:hover {
    background-color: #DEEBFF;
    color: black;
}

.white-button .fa-solid {
    padding-right: 8px; 
}


.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    max-width: 1350px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.hebergements {
    width: 65%;
    background-color: var(--main-bg-color);
    padding: 5px;
}

.hebergement-titre {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 25px;
    margin: 0;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.hebergements-cards.card {
    display: flex;
    margin-top: 33px;
    cursor: pointer;
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.hebergements-cards img {
    width: 100%;
    height: 136px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.hebergements-cards .card-subtitle {
    margin: 10px 0;
    text-align: left;
}

.container {
    display: flex;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.box {
    margin: 10px 10px;
    padding: 1px;
    flex-grow: 1;
}

.lien-afficher {
    margin-top: 10px;
    font-weight: bold;
}

.fa-star:hover,
.fa-star:hover~.fa-star {
    color: #0065FC;
}


.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-overflow: ellipsis;
    width: 100%;
    margin-bottom: 30px;
}

.populaires-title h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
}

.populaires-title .icon {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: 150px;
}

.populaires-cards img {
    width: 32%;
    height: 140px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    height: auto;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: left;
}

.populaires-cards .card-subtitle {
    margin: 0;
    text-align: left;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.Activites-title {
    display: flex;
    text-align: left;
    margin-bottom: 20px;
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.activites-cards img {
    width: 100%;
    height: 370px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    text-align: left;
    cursor: pointer;
}

.activites-cards {
    font-size: 0;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: auto;
    max-width: 1300px;
    margin-bottom: 20px;
    cursor: pointer;
}

.card-txt-activites {
    text-align: left;
    font-size: 16px;
    padding-left: 15px;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.element {
    display: inline-block;
    width: 25%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
    flex: 0 0 auto;
}

.search-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1300px;
    background-color: #F2F2F2;
    font-size: 16px;
}

.search-footer .a-propos a[href="#a-propos"],
.search-footer .Nos-hebergements a[href="#nos-hebergements"],
.search-footer .Assistance a[href="#assistance"] {
    font-weight: bold;
}

.search-footer .Assistance a[href="#assistance"] {
   padding-inline-start: 0px;
    padding-inline-end: 40px;
}

.search-footer .a-propos a[href="#a-propos"] {
    justify-content: left;
}

.search-footer .Nos-hebergements a[href="#nos-hebergements"] {
    justify-content: center;
}

li {
    font-weight: normal;
    text-align: left;
    font-size: 15px;
    list-style-type: none;
}


/* Media queries */

@media (max-width: 1024px) {
    .logo-et-liens {
        display: flex;
        justify-content: space-between;
        max-width: 1024px;
        width: 100%;
        gap: 30%;
    }

    h1 {
        margin-bottom: 2.5px;
        text-align: left;
        font-size: 18px;
    }

    .hebergements-and-populaires {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .Activites {
        width: 80%;
        padding: 20%;
    }

    .Activites-title {
        display: flex;
        text-align: left;
        margin-bottom: 20px;
        font-size: 15px;
    }

    .activites-cards {
        font-size: 0;
        display: flex;
        margin: auto;
        max-width: 1024px;
        margin-bottom: 10px;
        gap: 5px;
    }

    .activites-cards img {
        width: 100%;
        height: 200px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .element {
        display: inline-block;
        width: 20%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        margin: auto;
    }

    .card-txt-activites {
        text-align: left;
        font-size: 8px;
        padding-left: 10px;
    }

    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1024px;
    }

    .search-footer {
        justify-content: space-between;
        margin-top: 50px;
        margin: auto;
        max-width: 1024px;
        box-sizing: border-box;
        font-size: 10px;
    }

    li {
        font-weight: normal;
        text-align: left;
        font-size: 10px;
        list-style-type: none;
    }


    .footer-container .search-footer .activites-container {
        width: auto;
    }

}

@media (max-width: 767px) {

    header {
        width: 100%;
        max-width: 767px;
        padding: 0 0px;
        box-sizing: border-box;
    }

    body {
        padding: 0;
        max-width: 767px;
    }

    .logo {
        width: 70px;
        height: auto;
        margin-bottom: 30px;
    }

    .logo-et-liens {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-left: 0;
    }

    .header-search {
padding-left: 0 20px;
         }

    .lien-container {
        width: 100%;
        height: 35px;
        align-items: center;
        justify-content: center;
        padding: 0px;
        margin: 0px;
        gap: 0;
        display: flex;
    }

    .lien-hebergement,
    .lien-activite {
        width: 50%;
        max-width: 767px;
        height: 33px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-top: none;
        border-bottom: 2px solid var(--main-bg-color);
        transition: border-color 0.3s;
        transform: translateY(-0.8rem);
    }

    .lien-hebergement:hover,
    .lien-activite:hover,
    .lien-hebergement.active,
    .lien-activite.active {
        display: flex;
        flex-direction: row;
        color: var(--main-color);
        border-bottom: 2px solid var(--main-color);
        padding-top: 0;
        padding-bottom: 2px;
        border-top: none;
        transform: translateY(-0.8rem);
        cursor: pointer;
    }

    .search-container {
        max-width: 767px;
        width: 100%;
        font-weight: bold;
        font-size: 18px;
        border: none;
    }

    .blue-button {
        display: none;
    }

    .bouton-version-mobile {
        display: block;
        background-color: #0065FC;
        color: #0065FC;
        padding: 11px 20px;
        cursor: pointer;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-left: -20px solid #ccc;
        border: none;
        margin-bottom: 10px;
    }


    .bouton-version-mobile i {
        color: white;
    }

    .title-filter {
        display: flex;
        justify-content: left;
        align-items: center;
        width: 100%;
        font-size: 24px;
        font-weight: bold;
        margin: 10px 0;
        padding: 0;
        box-sizing: border-box;
    }

    .filter-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        margin-bottom : 20px;
    }

    .filtres_1,
    .filtres_2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 5px;
        margin-bottom: 2px;
    }

    .white-button {
        background-color: white;
        color: black;
        flex: 1;
        max-width: 767px;
        padding: 10px 20px;
        font-size: 16px;
        border: 1px solid gray;
        border-radius: 30px;
        cursor: pointer;
        text-align: center;
        margin: 5px;
        box-sizing: border-box;
    }

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 20px auto;
    }

    .populaires {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 767px;
        margin: 0px auto;
      border-radius: 0px;
    }

    .populaires-cards {
        width: 100%
    }

    .hebergements {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        max-width: 767px;
        background: none;
         padding: 0 20px !important;
    }

    .hebergement-titre {
    padding: 10px 0px;
}

    .hebergements-cards img {
        width: 100%;
        height: 136px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .box {
    margin: 10px 0px;
         padding: 0;
}

    .container {
        display: flex;
        flex-direction: column;
    }

    .activites {
        width: 100%;
        padding: 0 20px;
    }

    .activites-cards {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 30px;
    }

    p {
    margin-top: 20px;
    margin-bottom: 20px;
}
    
    .activites-cards img {
        width: 100%;
        height: 150px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
main {
    max-width: 1340px;
    padding: 0px;
}
    .element {
        display: inline-block;
        width: 100%;
        margin-top: 20px;
        padding: 0px;
        box-sizing: border-box;
        font-size: 16px;
        vertical-align: top;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    footer {
    display: block;
        margin-top: 0px;
        padding : 0px;
}

    .search-footer {
        flex-direction: column;
        gap: 10px;
    }

}
