@media (min-width: 1025px) {

    .logo-container {
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .logo {
        width: 80px;
    }

    * {
        font-family: 'Raleway', sans-serif;
    }

    :root {
        --main-color: #0065FC;
        --main-bg-color: #F2F2F2;
        --filter-bg-color: #DEEBFF;
    }

    .header {
        display: flex;
        width: 100px;
        height: auto;
        justify-content: center;
    }

    .fa-solid {
        color: var(--main-color);
    }

    .search-icon {
        padding: 0;
    }

    .search-input {
        flex: 1;
        border-left: none;
        margin-right: 0px;
    }

    .search-button {
        background-color: #4dabf7;
        color: white;
        border-left: none;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid #ccc;
        border-right: 1px solid #ccc
    }

    .taper-le-texte {
        background-color: transparent;
        color: gray;
        padding: 10px 10px;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        border-left: none;
        border-right: none;
        margin-bottom: 10px;
    }

    .white-button {
        background-color: white;
        color: black;
        padding: 10px 20px;
        border: 1px solid gray;
        border-radius: 5px;
        cursor: pointer;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        margin-bottom: 30px;
    }

    .search-container {
        display: flex;
        align-items: right;
        margin-right: 1700px;
    }

    .search-wrapper {
        display: flex;
        align-items: center;
        border-right: 0px solid #ccc;
    }

    .search-input-container {
        flex: 1;
        display: flex;
        border-top: 10px solid gray;
        border-bottom: 10px solid gray;
        border-left: none;
        border-right: none;
    }

    .search-container img {
        display: flex;
        margin-right: 0px;
        padding: 8.4px 15px;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        border-left: 1px solid gray;
        border-right: none;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        margin-bottom: 10px;
    }

    .blue-button {
        background-color: #0065FC;
        color: white;
        padding: 11px 20px;
        cursor: pointer;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-left: -20px solid #ccc;
        border: none;
        margin-bottom: 10px;
    }

    #filter-container {
        display: flex;
        align-items: center;
    }

    #title {
        margin-right: 20px;
        margin-bottom: 50px;
    }

    button {
        margin-right: 10px;
    }

    .icon-container-recher {
        background-color: #f2f2f2;
        display: inline-block;
        padding: 10.5px;
        vertical-align: middle;
        margin-bottom: 10px;
        line-height: 1;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .icon-container i {
        vertical-align: middle;
    }

    .white-button:hover {
        background-color: #DEEBFF;
        color: black;
    }

    .lien-container {
        text-align: right;
    }

    .lien-hebergement {
        margin-right: 100px;
        margin-top: -30px;
        float: right;
        color: black;
        text-decoration: none;
        transition: color 0.3s;


    }

    .lien-activite {
        margin-left: 1000px;
        padding-left: 50px;
        margin-top: -30px;
        float: right;
        color: black;
        text-decoration: none;
        transition: color 0.3s;
    }

    .lien-filtre {
        margin-left: 20px;
        float: right;
        color: black;
        text-decoration: none;
        transition: color 0.3s;
    }

    .lien-hebergement:hover,
    .lien-activite:hover,
    .lien-filtre:hover {
        color: blue;

    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        place-items: center;
    }

    .main-container {
        width: 100%;
        max-width: 1440px;
        padding: 0 50px;
        box-sizing: border-box;
    }

    h1 {
        margin-bottom: 2.5px;
    }

    p {
        margin-top: 2.5px;
        margin-bottom: 20px;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    .section-title {
        margin-bottom: 20px;
        margin: 0;
        font-size: 22px;
    }

    .section-title-1 {
        margin-bottom: 30px;
        margin: 1000;
        font-size: 30px;
    }

    .card {
        background-color: white;
        border-radius: 20px;
        padding: 5px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    }

    .card_img_hebergement {
        background-color: white;
        border-radius: 20px;
        padding: 5px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
        height: 25%;
        overflow: 25%;
    }

    .card img {
        object-fit: cover;
    }

    .card-title {
        font-size: 16px;
    }

    .euro {
        font-weight: 700;
    }

    .neutral-star {
        color: var(--main-bg-color)
    }

    /****** Hebergements And Populaires ***********/
    .hebergements-and-populaires {
        display: flex;
        width: 100%;
        margin-bottom: 60px;
        margin-top: 60px;
    }

    .hebergements-and-populaires section {
        background-color: var(--main-bg-color);
        border-radius: 20px;
        padding: 30px;
        box-sizing: border-box;
    }

    /****** Hebergements ***********/
    .hebergements {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: left;
        margin-right: 50px;
        margin-left: 0px;
        background-color: white;
    }

    .hebergement-titre {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hebergements-cards.card {
        display: flex;
        margin-top: 33px;
        margin-left: 33px;
    }

    .hebergements-cards img {
        display: flex;
        width: 290px;
        height: 136px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .container {
        display: flex;
    }

    .column {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .box {
        margin: 5px;
        padding: 10px;
    }

    /****** Populaires ***********/
    .populaires {
        width: 50%;
        margin-right: 50px;
    }

    .populaires-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .populaires-cards .card {
        display: flex;
        margin-top: 33px;
    }

    .populaires-cards img {
        width: 33%;
        height: 136px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .populaires-cards .card-content {
        width: 67%;
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .populaires-cards .card-title {
        margin-top: 10px;
        margin-bottom: 4px;
    }

    .populaires-cards .card-subtitle {
        margin: 0;
    }

    .populaires-cards .card-rating {
        margin-bottom: 5px;
    }

    /****** activites ***********/
    .activites {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-txt-activites {
        margin-left: 20px;
        margin-top: 25px;
    }

    .activites-cards img {
        width: 400px;
        height: 500px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .activites-container {
        width: 1600px;
        height: 570px;
        font-size: 0;
        /* Pour éviter l'espacement entre les éléments */
        display: flex;
        justify-content: space-between;
        /* Pour répartir l'espace entre les éléments */
        align-items: left;
        max-width: 12000px;
    }

    .element {
        display: inline-block;
        width: 25%;
        /* Chaque élément occupe 25% de la largeur */
        margin-left: -30px;
        /* Marge négative à gauche */
        margin-right: -30px;
        padding: 0px;
        box-sizing: border-box;
        /* Inclut la taille de la bordure et du padding dans la largeur */
        font-size: 16px;
        /* Réinitialise la taille de police */
        vertical-align: top;
        /* Aligne les éléments en haut */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .container {
        display: flex;
        justify-content: space-between;
    }


    .image-button img {
        margin-right: 10px;
        /* Ajoute une marge à droite de l'image pour séparer le texte */
    }

    .search-footer {
        display: flex;
        width: 100%;
        padding: 5px 0 0 20px;
        gap: 300px;
        background-color: #F2F2F2;
        font-size: 16px;
        margin-top: 50px;
        margin-right: 800px;
        margin-left: 50px
    }

    .search-footer>div {
        gap: 150px;
        width: 33%;
        height: 163px;
    }

    .search-footer h2 {
        font-size: 22px;
    }
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

/* Small devices (phones, less than 768px) */

@media (min-width:768.99px) and (max-width: 1024px) {
    .fa-solid {
        color: var(--main-color);
    }

    * {
        font-family: 'Raleway', sans-serif;
    }

    :root {
        --main-color: #0065FC;
        --main-bg-color: #F2F2F2;
        --filter-bg-color: #DEEBFF;
    }

    h1 {
        margin-bottom: 2.5px;
        /* Ajoute de l'espace en dessous du sous-titre */
    }

    /* Style pour le texte */
    p {
        margin-top: 2.5px;
        /* Ajoute de l'espace au-dessus du texte */
        margin-bottom: 20px;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    .logo-container {
        display: flex;
        justify-content: left;
        align-items: left;
    }

    .logo {
        width: 60px;
    }

    #filter-container {
        display: flex;
        align-items: center;
    }

    #title {
        margin-right: 20px;
        /* Espacement entre le titre et les boutons */
        margin-bottom: 50px;
    }

    button {
        margin-right: 10px;
        /* Espacement entre les boutons */
    }

    .icon-container-recher {
        background-color: #f2f2f2;
        /* Couleur de fond gris */
        display: inline-block;
        /* Permet de conserver la taille de l'icône */
        padding: 10.5px;
        /* Ajoute un espace à l'intérieur de la bordure */
        vertical-align: middle;
        /* Alignement vertical au milieu */
        margin-bottom: 10px;
        /* Réduire davantage l'espace en bas */
        line-height: 1;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .icon-container i {
        vertical-align: middle;
        /* Aligner l'icône verticalement */
    }

    .white-button:hover {
        background-color: #DEEBFF;
        color: black;
    }

    .lien-container {
        text-align: right;
        /* Alignement du texte à droite */
    }

    .lien-activite {
        margin-right: -170px;
        /* Espacement entre les liens */
        margin-top: -10px;
        padding-left: 0px;
        float: right;
        /* Alignement des liens à droite */
        color: black;
        /* Couleur par défaut du texte */
        text-decoration: none;
        /* Supprimer le soulignement par défaut */
        transition: color 0.3s;
        /* Transition fluide pour le changement de couleur */
    }

    .lien-hebergement {
        margin-right: 0px;
        /* Espacement entre les liens */
        margin-left: 30000px;
        margin-top: -13px;
        float: right;
        /* Alignement des liens à droite */
        color: black;
        /* Couleur par défaut du texte */
        text-decoration: none;
        /* Supprimer le soulignement par défaut */
        transition: color 0.3s;
        /* Transition fluide pour le changement de couleur */
    }

    .header {
        display: flex;
        margin-right: 20px;
        width: 100px;
        height: auto;
        justify-content: center;
    }

    .fa-solid {
        color: var(--main-color);
    }

    .search-icon {
        padding: 0;
        /* Supprime le rembourrage pour l'icône */
    }

    .search-input {
        flex: 1;
        border-left: none;
        /* Supprime la bordure de gauche pour le champ de recherche */
        margin-right: -100px;
    }

    .search-button {
        background-color: #4dabf7;
        color: white;
        border-left: none;
        /* Supprime la bordure de gauche pour le bouton */
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid #ccc;
        border-right: 1px solid #ccc
    }

    .taper-le-texte {
        background-color: transparent;
        color: gray;
        padding: 10px 10px;
        border-top: 1px solid gray;
        /* Bordure seulement en haut */
        border-bottom: 1px solid gray;
        /* Bordure seulement en bas */
        border-left: none;
        /* Aucune bordure à gauche */
        border-right: none;
        /* Aucune bordure à droite */
        margin-bottom: 10px;
    }



    .white-button {
        background-color: white;
        /* Définit la couleur de fond du bouton en bleu */
        color: black;
        /* Définit la couleur du texte en blanc */
        padding: 10px 20px;
        /* Ajoute un espace de remplissage autour du texte */
        border: 1px solid gray;
        border-radius: 5px;
        cursor: pointer;
        /* Change le curseur lorsque survolé pour indiquer un clic possible */
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        margin-bottom: 30px;
    }

    .search-container {
        display: flex;
        align-items: right;
        margin-right: 1700px;
    }

    .search-wrapper {
        display: flex;
        align-items: center;
        border-right: 0px solid #ccc;
    }

    .search-input-container {
        flex: 1;
        /* Prend l'espace restant */
        display: flex;
        border-top: 10px solid gray;
        /* Bordure seulement en haut */
        border-bottom: 10px solid gray;
        /* Bordure seulement en bas */
        border-left: none;
        /* Aucune bordure à gauche */
        border-right: none;
        /* Aucune bordure à droite */
    }

    .search-container img {
        display: flex;
        margin-right: 0px;
        /* Marge à droite pour séparer l'image du champ de saisie */
        padding: 8.4px 15px;
        border-top: 1px solid gray;
        /* Bordure seulement en haut */
        border-bottom: 1px solid gray;
        /* Bordure seulement en bas */
        border-left: 1px solid gray;
        /* Aucune bordure à gauche */
        border-right: none;
        /* Aucune bordure à droite */
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        margin-bottom: 10px;
    }

    .blue-button {
        background-color: #0065FC;
        /* Définit la couleur de fond du bouton en bleu */
        color: white;
        /* Définit la couleur du texte en blanc */
        padding: 11px 20px;
        /* Ajoute un espace de remplissage autour du texte */
        cursor: pointer;
        /* Change le curseur lorsque survolé pour indiquer un clic possible */
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-left: -20px solid #ccc;
        border: none;
        margin-bottom: 10px;
    }

    .card {
        background-color: white;
        border-radius: 20px;
        padding: 5px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    }

    .card_img_hebergement {
        background-color: white;
        border-radius: 20px;
        padding: 5px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
        height: 25%;
        overflow: 25%;
    }

    .card img {
        object-fit: cover;
    }

    .card-title {
        font-size: 16px;
    }

    .euro {
        font-weight: 700;
    }

    .neutral-star {
        color: var(--main-bg-color)
    }

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;
        margin-top: 60px;
    }

    .hebergements-and-populaires section {
        background-color: var(--main-bg-color);
        border-radius: 20px;
        padding: 30px;
        box-sizing: border-box;
    }

    .hebergements {
        width: 120%;
        display: flex;
        align-items: left;
        flex-direction: column;
        margin-right: 50px;
        background-color: white;
    }

    .hebergement-titre {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hebergements-cards.card {
        display: flex;
        margin-top: 33px;
        margin-left: 33px;
    }

    .hebergements-cards img {
        display: flex;
        width: 290px;
        height: 136px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .container {
        display: flex;
    }

    .column {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .box {
        margin: 5px;
        padding: 10px;
    }

    .populaires {
        width: 118%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .populaires-cards img {
        width: 100%;
        height: 136px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .activites {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

    }

    .card-txt-activites {
        margin-left: 20px;
        margin-top: 25px;
    }

    .activites-cards img {
        width: 200px;
        height: 250px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .container {
        display: flex;
        justify-content: space-between;
    }

    .activites-container {
        display: flex;
        width: 760px;
        height: 330px;
    }

    .image-button img {
        margin-right: 10px;
        /* Ajoute une marge à droite de l'image pour séparer le texte */
    }

    .element {
        display: inline-block;
        margin-left: 30px;
        /* Marge négative à gauche */
        padding: 0px;
        box-sizing: border-box;
        /* Inclut la taille de la bordure et du padding dans la largeur */
        font-size: 16px;
        /* Réinitialise la taille de police */
        vertical-align: top;
        /* Aligne les éléments en haut */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        gap: 10px;
    }

    .search-footer {
        display: flex;
        justify-content: left;
        width: 100%;
        padding: 5px 0 0 30px;
        gap: 20px;
        background-color: #F2F2F2;
        font-size: 15px;
        margin-top: 50px;
        margin-right: 50px;
    }

    .search-footer>div {
        height: 163px;
        gap: 150px;
        width: 33%;
    }

}

@media (max-width: 768.98px) {
    body {
        font-size: 10px;
        /* 4% de la largeur de la fenêtre */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .section-title {
        margin: 0;
        font-size: 22px;
    }

    .fa-solid {
        color: var(--main-color);
    }

    * {
        font-family: 'Raleway', sans-serif;
    }

    .main-container {
        width: 100%;
        max-width: 1440px;
        padding: 0 50px;
        box-sizing: border-box;
    }

    .card {
        background-color: white;
        border-radius: 20px;
        padding: 5px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    .card img {
        object-fit: cover;
    }

    .card-title {
        font-size: 16px;
    }

    .euro {
        font-weight: 700;
    }

    .neutral-star {
        color: var(--main-bg-color)
    }

    :root {
        --main-color: #0065FC;
        --main-bg-color: #F2F2F2;
        --filter-bg-color: #DEEBFF;
    }

    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo {
        width: 80px;
    }

    .lien-hebergement {
        display: flex;
        justify-content: left;
        margin-top: 20px;
        margin-bottom: 20px;
        float: right;
        color: black;
        text-decoration: none;
        transition: color 0.3s;
        font-size: 20px;
    }

    .lien-activite {
        display: flex;
        justify-content: right;
        margin-top: 20px;
        margin-right: 50px;
        margin-left: 100px;
        margin-bottom: 20px;
        float: right;
        /* Alignement des liens à droite */
        color: black;
        /* Couleur par défaut du texte */
        text-decoration: none;
        /* Supprimer le soulignement par défaut */
        transition: color 0.3s;
        /* Transition fluide pour le changement de couleur */
        font-size: 20px;
    }

    .search-button {
        background-color: #4dabf7;
        color: white;
        border-left: none;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid #ccc;
        border-right: 1px solid #ccc;
    }

    .taper-le-texte {
        background-color: transparent;
        color: gray;
        padding: 10px 10px;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        border-left: none;
        border-right: none;
        margin-bottom: 10px;
    }

    .white-button {
        background-color: white;
        color: black;
        padding: 10px 20px;
        border: 1px solid gray;
        border-radius: 5px;
        cursor: pointer;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        margin-bottom: 30px;
    }

    .search-container {
        display: flex;
        align-items: right;
        margin-right: 1700px;
    }

    .search-wrapper {
        display: flex;
        align-items: center;
        border-right: 0px solid #ccc;
    }

    .large-icon {
        font-size: 20px;
        /* Ajustez la taille selon vos besoins */
    }

    .search-input-container {
        flex: 1;
        display: flex;
        border-top: 10px solid gray;
        border-bottom: 10px solid gray;
        border-left: none;
        border-right: none;
    }

    .search-icon {
        padding: 0;
    }

    .search-input {
        flex: 1;
        border-left: none;
        margin-right: -100px;
    }

    .blue-button {
        background-color: #0065FC;
        color: white;
        padding: 11px 20px;
        cursor: pointer;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-left: -20px solid #ccc;
        border: none;
        margin-bottom: 10px;
    }

    .icon-container-recher {
        background-color: #f2f2f2;
        display: inline-block;
        padding: 10.5px;
        vertical-align: middle;
        margin-bottom: 10px;
        line-height: 1;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    button {
        margin-right: 10px;
    }

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
        order: 1;
        display: flex;
        flex-direction: column;
        /* Assurez-vous que c'est bien en colonne */
        justify-content: space-between;
        background-color: var(--main-bg-color);
        border-radius: 20px;
        padding: 30px;
        box-sizing: border-box;
        margin-bottom: 20px;
    }

    .populaires-title {
        font-size: 20px;
        color: black;
        /* Assurez-vous que la couleur est bien définie */
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .populaires-cards img {
        width: 33%;
        /* Ajustez la largeur à 100% pour qu'elle prenne toute la largeur du conteneur */
        height: 136px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .populaires-cards .card-content {
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .populaires-cards .card-title {
        margin-top: 10px;
        margin-bottom: 4px;
    }

    .populaires-cards .card-subtitle {
        margin: 0;
    }

    .populaires-cards .card-rating {
        margin-bottom: 5px;
    }

    .hebergements {
        width: 100%;
        display: flex;
        flex-direction: column;
        order: 2;
        background-color: white;
    }

    .hebergement-titre {
        display: flex;
        flex-direction: row
    }

    .hebergements-cards {
        display: flex;
        flex-direction: column;
    }

    .hebergements-cards img {
        width: 290px;
        /* Ajustez la largeur à 100% pour qu'elle prenne toute la largeur du conteneur */
        height: 136px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .activites {
        display: flex;
        flex-direction: column;
        width: 100%;
        order: 3;
        background-color: white;
    }

    .activites-cards {
        display: flex;
        flex-direction: column;
    }

    .activites-cards img {
        width: 300px;
        /* Ajustez la largeur à 100% pour qu'elle prenne toute la largeur du conteneur */
        height: 200px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}


/* ... */
